USE [ispdb_clean]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** CREATE TABLES (unchanged structure, names with _Import) ******/
CREATE TABLE [dbo].[AspNetRoleClaims_Import](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims_Import] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[AspNetRoles_Import](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles_Import] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[AspNetUserClaims_Import](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims_Import] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[AspNetUserLogins_Import](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins_Import] PRIMARY KEY CLUSTERED ([LoginProvider] ASC, [ProviderKey] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[AspNetUserRoles_Import](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles_Import] PRIMARY KEY CLUSTERED ([UserId] ASC, [RoleId] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[AspNetUsers_Import](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[ProfilePicture] [varbinary](max) NULL,
	[IsEnabled] [bit] NOT NULL,
	[Fecha_Registro] [datetime2](7) NOT NULL,
	[Empleado] [nvarchar](10) NULL,
	[UsernameChangeLimit] [int] NOT NULL,
	[Tenant_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_AspNetUsers_Import] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[AspNetUserTokens_Import](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens_Import] PRIMARY KEY CLUSTERED ([UserId] ASC, [LoginProvider] ASC, [Name] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[AuditEntries_Import](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Actor] [nvarchar](256) NOT NULL,
	[TargetUserId] [nvarchar](450) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Detail] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ClaimDefinitions_Import](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](200) NOT NULL,
	[Value] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DeviceCodes_Import](
	[UserCode] [nvarchar](200) NOT NULL,
	[DeviceCode] [nvarchar](200) NOT NULL,
	[SubjectId] [nvarchar](200) NULL,
	[SessionId] [nvarchar](100) NULL,
	[ClientId] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[Expiration] [datetime2](7) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DeviceCodes_Import] PRIMARY KEY CLUSTERED ([UserCode] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[Keys_Import](
	[Id] [nvarchar](450) NOT NULL,
	[Version] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Use] [nvarchar](450) NULL,
	[Algorithm] [nvarchar](100) NOT NULL,
	[IsX509Certificate] [bit] NOT NULL,
	[DataProtected] [bit] NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Keys_Import] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[PersistedGrants_Import](
	[Key] [nvarchar](200) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[SubjectId] [nvarchar](200) NULL,
	[SessionId] [nvarchar](100) NULL,
	[ClientId] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[Expiration] [datetime2](7) NULL,
	[ConsumedTime] [datetime2](7) NULL,
	[Data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PersistedGrants_Import] PRIMARY KEY CLUSTERED ([Key] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** INSERTS: identity tables must use IDENTITY_INSERT ON/OFF around the insert block ******/
-- AspNetRoles (no identity on PK) 
INSERT [dbo].[AspNetRoles_Import] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) 
VALUES (N'A2D1AD77-30E5-4387-8FD6-F0BE2DCEFEB5', N'Admin', N'ADMIN', N'0DDD7291-8A08-44A6-B976-0B33F796B822')
GO

-- AspNetUserClaims (Id is IDENTITY) -> ensure ON before inserting explicit Ids
SET IDENTITY_INSERT [dbo].[AspNetUserClaims_Import] ON
GO
INSERT [dbo].[AspNetUserClaims_Import] ([Id], [UserId], [ClaimType], [ClaimValue]) 
VALUES (16, N'515626f6-a2ea-43bf-869e-f5ef6a04542e', N'permission', N'users.manage')
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims_Import] OFF
GO

-- AspNetUserRoles (no identity)
INSERT [dbo].[AspNetUserRoles_Import] ([UserId], [RoleId]) 
VALUES (N'515626f6-a2ea-43bf-869e-f5ef6a04542e', N'A2D1AD77-30E5-4387-8FD6-F0BE2DCEFEB5')
GO

-- AspNetUsers (no identity on Id column)
GO

-- AuditEntries (Id is IDENTITY)
SET IDENTITY_INSERT [dbo].[AuditEntries_Import] ON
GO
INSERT [dbo].[AuditEntries_Import] ([Id], [Actor], [TargetUserId], [Action], [Detail], [CreatedAt]) VALUES (1, N'admin@local.test', N'50e231e3-6eee-4c3f-8087-100e3c3639db', N'AssignRole', N'Admin', CAST(N'2025-10-16T01:30:43.8910333' AS DateTime2))
INSERT [dbo].[AuditEntries_Import] ([Id], [Actor], [TargetUserId], [Action], [Detail], [CreatedAt]) VALUES (2, N'admin@local.test', N'50e231e3-6eee-4c3f-8087-100e3c3639db', N'AddClaim', N'permission=reports.view', CAST(N'2025-10-16T01:32:34.5977785' AS DateTime2))
INSERT [dbo].[AuditEntries_Import] ([Id], [Actor], [TargetUserId], [Action], [Detail], [CreatedAt]) VALUES (3, N'admin@local.test', N'50e231e3-6eee-4c3f-8087-100e3c3639db', N'AddClaim', N'permission=reports.view', CAST(N'2025-10-18T12:12:15.0725683' AS DateTime2))
-- (continúa resto de AuditEntries inserts...)
GO
SET IDENTITY_INSERT [dbo].[AuditEntries_Import] OFF
GO

-- ClaimDefinitions (Id is IDENTITY)
SET IDENTITY_INSERT [dbo].[ClaimDefinitions_Import] ON
GO
INSERT [dbo].[ClaimDefinitions_Import] ([Id], [Type], [Value], [Description], [CreatedAt]) VALUES (1, N'premission', N'user.almacen', N'ingreso almacen usuario', CAST(N'2025-10-21T01:05:48.6233333' AS DateTime2))
INSERT [dbo].[ClaimDefinitions_Import] ([Id], [Type], [Value], [Description], [CreatedAt]) VALUES (2, N'permission', N'user.factura', N'Emitir facturas', CAST(N'2025-10-27T22:45:35.3750000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ClaimDefinitions_Import] OFF
GO

-- Keys (no identity)
INSERT [dbo].[Keys_Import] ([Id], [Version], [Created], [Use], [Algorithm], [IsX509Certificate], [DataProtected], [Data]) 
VALUES (N'01259798357590EA23AB427FE17ED680', 1, CAST(N'2025-10-13T00:43:49.7627016' AS DateTime2), N'signing', N'RS256', 0, 1, N'...big data...')
GO

-- Defaults on _Import tables (optional: keep if you want same behavior)
ALTER TABLE [dbo].[AspNetUsers_Import] ADD CONSTRAINT [DF_AspNetUsers_IsEnabled_Import] DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers_Import] ADD CONSTRAINT [DF_AspNetUsers_Fecha_Registro_Import] DEFAULT (sysutcdatetime()) FOR [Fecha_Registro]
GO
ALTER TABLE [dbo].[AspNetUsers_Import] ADD CONSTRAINT [DF_AspNetUsers_UsernameChangeLimit_Import] DEFAULT ((0)) FOR [UsernameChangeLimit]
GO
ALTER TABLE [dbo].[AuditEntries_Import] ADD DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClaimDefinitions_Import] ADD DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO

/****** Foreign keys between _Import tables (keep only if you want integrity within _Import set) ******/
ALTER TABLE [dbo].[AspNetRoleClaims_Import] WITH CHECK ADD CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId_Import] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles_Import] ([Id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims_Import] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId_Import]
GO

ALTER TABLE [dbo].[AspNetUserClaims_Import] WITH CHECK ADD CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId_Import] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers_Import] ([Id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims_Import] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId_Import]
GO

ALTER TABLE [dbo].[AspNetUserLogins_Import] WITH CHECK ADD CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId_Import] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers_Import] ([Id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins_Import] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId_Import]
GO

ALTER TABLE [dbo].[AspNetUserRoles_Import] WITH CHECK ADD CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId_Import] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles_Import] ([Id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles_Import] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId_Import]
GO

ALTER TABLE [dbo].[AspNetUserRoles_Import] WITH CHECK ADD CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId_Import] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers_Import] ([Id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles_Import] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId_Import]
GO

ALTER TABLE [dbo].[AspNetUserTokens_Import] WITH CHECK ADD CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId_Import] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers_Import] ([Id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens_Import] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId_Import]
GO

-- Done
PRINT 'Script ready: CREATEs, INSERTs and FKs for _Import tables applied.'
GO